<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Export.Export" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Export.Export>
            <setting name="FoDocumentHeader" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;fo:root xmlns:fo="http://www.w3.org/1999/XSL/Format"&gt;
  &lt;fo:layout-master-set&gt;
    &lt;fo:simple-page-master master-name="first"
          margin-right="1.5cm"
          margin-left="1.5cm"
          margin-bottom="2cm"
          margin-top="1cm"
          page-width="21cm"
          page-height="29.7cm"&gt;
      &lt;fo:region-body margin-top="4cm"/&gt;
      &lt;fo:region-before extent="7cm"/&gt;
      &lt;fo:region-after extent="1cm"/&gt;
    &lt;/fo:simple-page-master&gt;
  &lt;/fo:layout-master-set&gt;

  &lt;fo:page-sequence master-reference="first"&gt;

  &lt;fo:static-content flow-name="xsl-region-before"&gt;
      &lt;fo:list-block font-size="10pt" provisional-label-separation="0pt"&gt;
          &lt;fo:list-item&gt;
              &lt;fo:list-item-label end-indent="label-end()"&gt;
                  &lt;fo:block text-align="left"&gt;
                      &lt;fo:block&gt;{0}&lt;/fo:block&gt;
                      &lt;fo:block&gt;{1}&lt;/fo:block&gt;
                  &lt;/fo:block&gt;
              &lt;/fo:list-item-label&gt;
              &lt;fo:list-item-body start-indent="body-start()"&gt;
                  &lt;fo:list-block provisional-label-separation="0pt"&gt;
                      &lt;fo:list-item&gt;
                          &lt;fo:list-item-label end-indent="label-end()"&gt;
                              &lt;fo:block text-align="center"&gt;
                                  &lt;fo:block&gt;{2}&lt;/fo:block&gt;
                                  &lt;fo:block&gt;{3}&lt;/fo:block&gt;
                              &lt;/fo:block&gt;
                          &lt;/fo:list-item-label&gt;
                          &lt;fo:list-item-body start-indent="body-start()"&gt;
                              &lt;fo:block text-align="right"&gt;
                                &lt;fo:page-number/&gt; (&lt;fo:page-number-citation ref-id="last-page"/&gt;)
                              &lt;/fo:block&gt;
                              &lt;fo:block&gt;{4}&lt;/fo:block&gt;
                          &lt;/fo:list-item-body&gt;
                      &lt;/fo:list-item&gt;
                  &lt;/fo:list-block&gt;
              &lt;/fo:list-item-body&gt;
          &lt;/fo:list-item&gt;
      &lt;/fo:list-block&gt;
  &lt;/fo:static-content&gt;
 
  &lt;fo:static-content flow-name="xsl-region-after"&gt;
  &lt;/fo:static-content&gt;

    &lt;fo:flow flow-name="xsl-region-body"&gt;</value>
            </setting>
            <setting name="FoDocumentEnd" serializeAs="String">
                <value>      &lt;fo:block id="last-page"&gt;
      &lt;/fo:block&gt;
    &lt;/fo:flow&gt;
  &lt;/fo:page-sequence&gt;
&lt;/fo:root&gt;
</value>
            </setting>
            <setting name="Fo4ColumnTableStart" serializeAs="String">
                <value>      &lt;fo:table font-size="9pt"&gt;
        &lt;fo:table-column column-width="4cm"/&gt;
        &lt;fo:table-column column-width="5cm"/&gt;
        &lt;fo:table-column column-width="4.5cm"/&gt;
        &lt;fo:table-column column-width="4.5cm"/&gt;
      
        &lt;fo:table-header background-color="#BBB"&gt;
          &lt;fo:table-row&gt;
            &lt;fo:table-cell&gt;
              &lt;fo:block font-weight="bold" text-align="center" vertical-align="middle"&gt;
              {0}
              &lt;/fo:block&gt;
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell&gt;
              &lt;fo:block font-weight="bold" text-align="center" vertical-align="middle"&gt;
              {1}
              &lt;/fo:block&gt;
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell&gt;
              &lt;fo:block font-weight="bold" text-align="center" vertical-align="middle"&gt;
              {2}
              &lt;/fo:block&gt;
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell&gt;
              &lt;fo:block font-weight="bold" text-align="center" vertical-align="middle"&gt;
              {3}
              &lt;/fo:block&gt;
            &lt;/fo:table-cell&gt;
          &lt;/fo:table-row&gt;
        &lt;/fo:table-header&gt;

        &lt;fo:table-body&gt;
</value>
            </setting>
            <setting name="Fo4ColumnTableEvenRow" serializeAs="String">
                <value>          &lt;fo:table-row&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {0}
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {1}
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {2}
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {3}
            &lt;/fo:table-cell&gt;
          &lt;/fo:table-row&gt;
</value>
            </setting>
            <setting name="FoFirstBoldBlock" serializeAs="String">
                <value>&lt;fo:block font-weight="bold" border-right-width="0.5pt" text-align="left" vertical-align="middle"&gt;
              {0}
&lt;/fo:block&gt;</value>
            </setting>
            <setting name="FoFirstBlock" serializeAs="String">
                <value>&lt;fo:block border-right-width="0.5pt" text-align="left" vertical-align="middle"&gt;
              {0}
&lt;/fo:block&gt;
</value>
            </setting>
            <setting name="FoBlock" serializeAs="String">
                <value>&lt;fo:block&gt;{0}&lt;/fo:block&gt;
</value>
            </setting>
            <setting name="FoTableEnd" serializeAs="String">
                <value>        &lt;/fo:table-body&gt;
      &lt;/fo:table&gt;</value>
            </setting>
            <setting name="Fo4ColumnTableOddRow" serializeAs="String">
                <value>          &lt;fo:table-row background-color="#EEE"&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {0}
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {1}
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {2}
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {3}
            &lt;/fo:table-cell&gt;
          &lt;/fo:table-row&gt;
</value>
            </setting>
            <setting name="FoBlockBold" serializeAs="String">
                <value>&lt;fo:block font-weight="bold"&gt;{0}&lt;/fo:block&gt;
</value>
            </setting>
            <setting name="Fo2ColumnTableStart" serializeAs="String">
                <value>      &lt;fo:table font-size="9pt"&gt;
        &lt;fo:table-column column-width="6cm"/&gt;
        &lt;fo:table-column column-width="6cm"/&gt;
      
        &lt;fo:table-header background-color="#BBB"&gt;
          &lt;fo:table-row&gt;
            &lt;fo:table-cell&gt;
              &lt;fo:block font-weight="bold" text-align="center" vertical-align="middle"&gt;
              {0}
              &lt;/fo:block&gt;
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell&gt;
              &lt;fo:block font-weight="bold" text-align="center" vertical-align="middle"&gt;
              {1}
              &lt;/fo:block&gt;
            &lt;/fo:table-cell&gt;
          &lt;/fo:table-row&gt;
        &lt;/fo:table-header&gt;

        &lt;fo:table-body&gt;
</value>
            </setting>
            <setting name="Fo2ColumnTableEvenRow" serializeAs="String">
                <value>          &lt;fo:table-row&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {0}
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {1}
            &lt;/fo:table-cell&gt;
          &lt;/fo:table-row&gt;
</value>
            </setting>
            <setting name="Fo2ColumnTableOddRow" serializeAs="String">
                <value>          &lt;fo:table-row background-color="#EEE"&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {0}
            &lt;/fo:table-cell&gt;
            &lt;fo:table-cell padding="2pt"&gt;
              {1}
            &lt;/fo:table-cell&gt;
          &lt;/fo:table-row&gt;</value>
            </setting>
            <setting name="FoBlockItalic" serializeAs="String">
                <value>&lt;fo:block font-style="italic"&gt;{0}&lt;/fo:block&gt;
</value>
            </setting>
        </Export.Export>
    </applicationSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
