<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Database.DatabaseSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MembersContainer" connectionString="metadata=res://*/Members.csdl|res://*/Members.ssdl|res://*/Members.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=members.db;password=password&quot;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Database.DatabaseSettings>
      <setting name="CreationString" serializeAs="String">
        <value>
-- Creating table 'AddressSet'
CREATE TABLE [AddressSet] (
    [Id] INTEGER PRIMARY KEY NOT NULL,
    [address] nvarchar(2147483647)  NOT NULL,
    [city] nvarchar(2147483647)  NOT NULL,
    [postalcode] nvarchar(2147483647)  NOT NULL,
    [country] nvarchar(2147483647)  NOT NULL
);

-- Creating table 'MemberDetaisSet'
CREATE TABLE [MemberDetaisSet] (
    [Id] INTEGER PRIMARY KEY NOT NULL,
    [memberno] nvarchar(2147483647)  NOT NULL,
    [memberclass] nvarchar(2147483647)  NOT NULL,
    [membergroup] nvarchar(2147483647)  NOT NULL,
    [memberjob] nvarchar(2147483647)  NOT NULL,
    [joindate] nvarchar(2147483647)  NOT NULL,
    [exitdate] nvarchar(2147483647)  NOT NULL,
    [changeddate] nvarchar(2147483647)  NOT NULL,
    [paymentstatus] nvarchar(2147483647)  NOT NULL
);

-- Creating table 'OrganizationSet'
CREATE TABLE [OrganizationSet] (
    [Id] INTEGER PRIMARY KEY NOT NULL,
    [key] nvarchar(2147483647)  NOT NULL,
    [value] nvarchar(2147483647)  NOT NULL
);

-- Creating table 'ChangelogSet'
CREATE TABLE [ChangelogSet] (
    [Id] INTEGER PRIMARY KEY NOT NULL,
    [action] nvarchar(2147483647)  NOT NULL,
    [newvalue] nvarchar(2147483647)  NOT NULL,
    [oldvalue] nvarchar(2147483647)  NOT NULL,
    [memberid] nvarchar(2147483647)  NOT NULL,
    [time] nvarchar(2147483647)  NOT NULL,
    [date] nvarchar(2147483647)  NOT NULL
);

-- Creating table 'MemberSet'
CREATE TABLE [MemberSet] (
    [Id] INTEGER PRIMARY KEY NOT NULL,
    [firstname] nvarchar(2147483647)  NOT NULL,
    [lastname] nvarchar(2147483647)  NOT NULL,
    [middlenames] nvarchar(2147483647)  NOT NULL,
    [mobile] nvarchar(2147483647)  NOT NULL,
    [email] nvarchar(2147483647)  NOT NULL,
    [phone] nvarchar(2147483647)  NOT NULL,
    [sex] nvarchar(2147483647)  NOT NULL,
    [birthdate] nvarchar(2147483647)  NOT NULL,
    [Address_Id] integer  NOT NULL,
    [MemberDetais_Id] integer  NOT NULL
);

-- Creating table 'ContactSet'
CREATE TABLE [ContactSet] (
    [Id] INTEGER PRIMARY KEY NOT NULL,
    [firstname] nvarchar(2147483647)  NOT NULL,
    [lastname] nvarchar(2147483647)  NOT NULL,
    [mobile] nvarchar(2147483647)  NOT NULL,
    [email] nvarchar(2147483647)  NOT NULL,
    [phone] nvarchar(2147483647)  NOT NULL,
    [Member_Id] integer  NOT NULL,
    [Address_Id] integer  NOT NULL
);
</value>
      </setting>
    </Database.DatabaseSettings>
  </userSettings>
</configuration>